{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <h1 style="text-align:center; background-color: aquamarine;" class="p-6 mb-2 text-dark font-weight-bold">Trail
        Balance - Select Dates
    </h1>

    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
        </div>
    </div>

    {% endif %}
    {% endwith %}

    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="small mb-1" for="inputDate">Start Date</label>
                        <input class="form-control py-4" value="{{ from_date }}" id="from_date" name="Date"
                            type="date" />
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="small mb-1" for="inputDate">End Date</label>
                        <input class="form-control py-4" value="{{ to_date }}" id="to_date" name="Date" type="date" />
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="small mb-1" for="inputDate">Reset</label>
                        <button class="btn btn-dark" style="width: 100%;" onclick="go_to_dates()">Reset Dates</button>
                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label class="small mb-1" for="inputDate">Standard Form</label>
                        <button class="btn btn-dark" style="width: 100%;" onclick="go_to_dates_print()">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group" style="float: right;">
                        <label class="small mb-1" for="inputDate">Today Date</label>
                        <br>
                        <input type="text" id="currentDate" disabled />
                    </div>
                </div>
                <div class="col-xl-12 col-md-12 col-sm-12">
                    <center>
                        <label>
                            <h2><b><u>Trail Balance</u></b></h2>
                        </label>
                    </center>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <center>
                        <h3>
                            From
                            <label>{% set from = from_date.split('-') %}{{ from[2] }}-{{ from[1] }}-{{ from[0]
                                }}</label>
                            To
                            <label>{% set to = to_date.split('-') %}{{ to[2] }}-{{ to[1] }}-{{ to[0] }}</label>
                        </h3>
                    </center>
                </div>

            </div>
            <br>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" id="Table" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Details</th>
                                <th>Type</th>
                                <th>Debit</th>
                                <th>Credit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% set total_debit = [0] %}
                            {% set total_credit = [0] %}
                            {% for d in data %}
                            {% if d.Type == 'Day_Book' %}
                            <tr>
                                <th>{{ loop.index }}</th>
                                <th>{{ d.Date_Time }}</th>
                                <td>
                                    {% for b in buyers %}

                                    {% if b._id | string == d.User_Id %}
                                    {{ b.Name }} ({{ b.Address }}) - {{ d.Remarks }}
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>Day Book</td>
                                {% if d.Pay_Type == 'Debit' %}
                                {% if total_debit.append(total_debit.pop() | int + d.Amount | int) %}{% endif %}
                                <td>{{ d.Amount }}</td>
                                <td>0</td>
                                {% else %}
                                {% if total_credit.append(total_credit.pop() | int + d.Amount | int) %}{% endif %}
                                <td>0</td>
                                <td>{{ d.Amount }}</td>
                                {% endif %}
                            </tr>
                            {% else %}

                            <tr>
                                <th>{{ loop.index }}</th>
                                <th>{{ d.Date_Time }}</th>
                                <td>
                                    {% for b in buyers %}

                                    {% if b._id | string == d.User_Id %}
                                    {{ b.Name }} ({{ b.Address }})
                                    {% endif %}

                                    {% endfor %}
                                </td>
                                <td>Sale</td>
                                {% if d.Pay_Type == 'Debit' %}
                                {% if total_debit.append(total_debit.pop() | int + d.Amount | int) %}{% endif %}
                                <td>{{ d.Amount }}</td>
                                <td>0</td>
                                {% else %}
                                {% if total_credit.append(total_credit.pop() | int + d.Amount | int) %}{% endif %}
                                <td>0</td>
                                <td>{{ d.Amount }}</td>
                                {% endif %}
                            </tr>

                            {% endif %}
                            {% endfor %}

                        </tbody>
                        <tfoot class="thead-dark">
                            <tr>
                                <th></th>
                                <th></th>
                                <th>Total</th>
                                <th></th>
                                <th>{{ total_debit[0] }}</th>
                                <th>{{ total_credit[0] }}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var now = new Date();

    var day = ("0" + now.getDate()).slice(-2);
    var month = ("0" + (now.getMonth() + 1)).slice(-2);

    var today = (day) + "-" + (month) + "-" + now.getFullYear();

    $('#currentDate').val(today);

    function go_to_dates() {
        window.location.href = "/trail_balance?from=" + $('#from_date').val() + "&to=" + $('#to_date').val();
    }

    function go_to_dates_print() {
        window.location.href = "/trail_balance_print?from=" + $('#from_date').val() + "&to=" + $('#to_date').val();
    }

    $(document).ready(function () {
        $('#Table').DataTable({
            responsive: true,
            //paging: false,
            aLengthMenu: [
                [25, 50, 100, 200, -1],
                [25, 50, 100, 200, "All"]
            ],
            iDisplayLength: -1
        });
    });

</script>

{% endblock %}